html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
}
